body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: #007bff;
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

section li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.btn-delete {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c82333;
}

.checkbox {
    margin-right: 10px;
}

.btn-filter {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-filter:hover {
    background-color: #218838;
}

/* Estilo para tarefas marcadas */
section li.marked {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda; /* Cor de fundo para tarefas marcadas */
    color: #155724; /* Cor do texto para tarefas marcadas */
}

